ion-card-title {
    font-size: 24px
}

img {
    width: 400px;
    height: 200px;
}

ion-button {
    background-color: transparent;
    border: 0;
    color: #fefbef;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 1;
    margin-top: 1.5rem;
    width: 100%;
}
