<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cupões
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cupões</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Termina 21/06</ion-card-subtitle>
      <ion-card-title>Atum Bom Petisco</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="https://i.imgur.com/zCkAyP3.jpg" alt="atum prom">
      <ion-button (click)="openToast()" shape="round">Ativar</ion-button>
    </ion-card-content>   
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Termina 27/06</ion-card-subtitle>
      <ion-card-title>Papas Cerelac</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="https://i.imgur.com/vLeO9jj.jpg" alt="atum prom">
      <ion-button (click)="openToast()" shape="round">Ativar</ion-button>
    </ion-card-content>   
  </ion-card>

</ion-content>

